a{
  text-decoration: none;
  color: inherit;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }



  .sample-slider {
    width: 90%;
    height: 70%;
  }

  .sample-slider2 {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: fit-content;
  }

  .sample-slider2 img,
  .slide-text {
    width: 100%;
    height: 100%;
  }

  .sample-slider img,
  .slide-text {
    width: 100%;
    height: 100%;
  }

  .sample-slider {
    --add-bottom: 50px;
    padding-bottom: var(--add-bottom);
  }

  .sample-slider [class^="swiper-button-"] {
    top: calc(50% - var(--add-bottom) / 2);

  }

  .slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .news-content {
    display: flex;
    padding: 20px;
  }

  .news-header {
    padding: 60px;
  }

  .swiper {
    /* padding-right: 20px; */
    padding-bottom: 50px;
    height: fit-content;
  }

  .slide-text {
    padding-top: 10px;
    /* padding-top: 10px; */
  }

  .slide-text h2 {
    /* font-size: 18px; */
    color: #5781de;
  }

  .news-list {
    padding-left: 10px;
    display: flex;
    /* align-items: center;  */
  }

  .news-list .news-list-item h2 {
    font-size: 18px;
  }

  .news-list .news-list-item {
    padding: 10px;
  }


  .news-content-wrapper {
    text-align: left;
  }



  @media (max-width:800px) {

    .sample-slider {
      width: 100%;
      height: 100%;
    }

    .sample-slider2 {
      width: 100%;
      height: 100%;
    }

    .sample-slider img,
    .slide-text {
      width: 100%;
      height: 100%;
    }

    .sample-slider2 img,
    .slide-text {
      width: 100%;
      height: 100%;
    }

  }

  @media (max-width:600px) {}




  h1 {
    font-size: 30px;
    font-weight: normal;
  }

  p {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
  }




/* ---------------------------------------------------------------------------- */
/* --------------------------------- Carousel --------------------------------- */
/* ---------------------------------------------------------------------------- */
#myCarousel {
  height: 60vh;
  width: 100%;
}

#carousel-item1 {
  height: 60vh;
  background-image: url(../images/slider/slid1.jpg);
  background-position: center center;
  background-size: cover;
}

